from ai.chronon.staging_query import EngineType, StagingQuery, TableDependency

v1 = StagingQuery(
    query="SELECT * FROM data.purchases WHERE ds BETWEEN {% raw %}{{ start_date }}{% endraw %} AND {% raw %}{{ end_date }}{% endraw %}",
    engine_type=EngineType.BIGQUERY,
    output_namespace="data",
    dependencies=[
        TableDependency(table="data.purchases", partition_column="ds", offset=0)
    ],
    version=0,
)
