services:
  chronon-spark:
    build:
      context: ..
      dockerfile: local_deployment/chronon-spark/Dockerfile

    environment:
      CHRONON_DRIVER_JAR: /srv/chronon/jars/chronon-spark-assembly.jar
      USER: spark
      SPARK_SUBMIT_PATH: /opt/spark/bin/spark-submit
    volumes:
      - ../out/spark/assembly.dest/chronon-spark-assembly.jar:/srv/chronon/jars/chronon-spark-assembly.jar:ro
      - ./app:/srv/chronon/app
      - ./chronon-spark:/srv/chronon/conf:ro
      - ./metastore:/srv/chronon/metastore
    restart: unless-stopped
    networks:
      - chronon-net


  duckui:
    build:
      context: ./duckui
    environment:
      SPARK_WAREHOUSE_PATH: /srv/chronon/metastore/warehouse
    volumes:
      - ./duckui:/srv/chronon/duckui
      - ./metastore:/srv/chronon/metastore:ro
    working_dir: /srv/chronon/duckui
    ports:
      - "8501:8501"
    command: ["streamlit", "run", "app.py", "--server.address=0.0.0.0", "--server.port=8501"]
    depends_on:
      - chronon-spark
    networks:
      - chronon-net

networks:
  chronon-net:
