name: Grype Security Scan

on:
  pull_request:
    branches:
      - main
    paths:
      - '*.mill'
      - '**/*.mill'
      - 'docker/fetcher/Dockerfile'
      - '.github/workflows/test_grype.yaml'
      - '.github/workflows/grype_scan_reusable.yaml'
      - '.grype.yaml'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  grype_scan:
    uses: ./.github/workflows/grype_scan_reusable.yaml
